@model ProjectWhiteWave.Models.SupportEvent

@{
    ViewBag.Title = "Details";
}

@Html.Partial("~/Views/SupportEvent/_DetailsPartial.cshtml", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupportEventId }) |
    @Html.ActionLink("Back to Ticket", "Details", "Ticket", new { ticketId = Model.TicketId })
</p>
